<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h1>HOME</h1>

    <div>
        <div>
            <button onclick="window.location.href='/api/home/orders'">Orders</button>
            <button onclick="window.location.href='/api/home/reservations'">Reservations</button>
            <button onclick="window.location.href='/api/home/tables'">Tables</button>
            <button onclick="window.location.href='/api/home/menu'">Menu</button>
            <button onclick="window.location.href='/api/home/inventory'">Inventory</button>
        </div>
        
        
    </div>
</body>
</html>